.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  margin-top: 15px;
  flex-grow: 1;

  .btn_color {
    border-radius: 50%;
    border: 0;
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin-right: 15px;

    @media screen and (max-width: 767px) {
      width: 35px;
      height: 35px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
